[server]
mq_concurrency=10
log_level=DEBUG
backdoor_port=9999

[components]
db=drivel.components.db.ConnectionPool
memcache=drivel.components.memcached.ClientPool
push=drivel.components.pushmessaging.PushQueue

[memcache]
pool_size=10

[memcache-servers]
localhost=127.0.0.1:11211

[http]
address=0.0.0.0
port=5281
session_cookie=sessionid
auth_backend=drivel.contrib.test.URLAuthBackend
maxwait=120
max_simultaneous_reqs=10000

[postgres]
host=127.0.0.1
user=test
password=
database=test
pool_size=10
port=5432

